*.iml
/.gradle
/.idea
/gradle
/build
gradlew
gradlew.bat
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
settings.gradle
gradle.properties
/app/build
/app/libs
/app/proguard-rules.pro
/app/src/test
/app/src/androidTest